amqp==5.2.0
asgiref==3.7.2
awsebcli==3.20.10
billiard==4.2.0
blessed==1.20.0
botocore==1.31.85
cement==2.8.2
certifi==2023.11.17
charset-normalizer==3.3.2
chartjs==1.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.3
Django==5.0
django-workers==0.2.0
idna==3.6
jmespath==1.0.1
kombu==5.3.4
pathspec==0.10.1
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
semantic-version==2.8.5
six==1.16.0
sqlparse==0.4.4
termcolor==1.1.0
tzdata==2023.4
urllib3==1.26.18
vine==5.1.0
wcwidth==0.1.9
