* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.coin-icon {
  height: 5rem;
  width: 5rem;
  padding-right: 1rem;
  border-radius: 100%;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 11rem;
  padding: 2rem;
  background-color: #ffffff;
  width: 500px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h1,
h2,
h3,
p {
  color: #333333;
}

button {
  background-color: #00aaff;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0088cc;
}

form p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1432px) {
  select {
    font-size: 0.9rem;
  }
}
