* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#floatcontainter {
  display: flex;
  text-align: left;
}

#floatcontainter th {
  text-align: center;
}

#nchange,
#hchange {
  flex: 1;
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  margin-bottom: 50px;
}

#border-line {
  margin-top: 2rem;
  border-top: 10px solid grey;
  border-radius: 10px;
}

table {
  width: 100%;
  table-layout: fixed;
}

#floatcontainter tr:not(:first-child):hover {
  background: grey;
}

#floatcontainter th:first-child {
  border-bottom: 1px solid;
}

#headers {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#floatcontainter tr:hover td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid grey;
  background: grey;
}

#floatcontainter tr:hover td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid grey;
  background: grey;
}

.ranking-title {
  padding-bottom: 10px;
  font-size: 30px;
}
