#coin-list {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -7rem;
  background-color: white;
  align-items: center;
  table-layout: fixed;
  font-size: 71%;
  width: 850px;
  margin-left: 283px;
  margin-right: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width: 1432px) {
  #coin-list {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    top: 2rem;
  }
}


#coin-list th,
#coin-list td {
  padding: 15px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
}

#coin-list tr:first-child {
  position: sticky;
  top: 18.9%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 100%;
}

#coin-list tr:first-child,
#coin-list th {
  font-weight: bold;
  color: black;
  whit-space: nowrap;
}

#coin-list a {
  text-decoration: none;
  color: #000;
}


#coin-list tr:last-child {
  border-bottom: none;
}

#coin-list tr {
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#coin-list tr:not(:first-child):hover {
  background-color: #eaeaea;
}

#coin-list tr:not(:first-child),
#coin-list td {
  height: 8px;
  overflow: hidden;
}

#coin-list td:first-child,
#coin-list th:first-child{
  color: grey;
  text-align: center;
  width: auto;
}

.rank {
  border: 0px;
  background: white;
}

.green {
  color: green;
}

.red {
  color: red;
}


.coin-icon {
  height: 1rem;
  width: 1rem;
  padding-right: 1rem;
}

button {
  font-weight: bold;
  border: 0;
  background: white;
  width: 75px;
  height: 50px;
}

button:hover {
  background: #eaeaea;
  border: 50px;
  border-radius: 15px;
}
