#register-container {
    margin-top: 25px;
    text-align: center;
}

#register-main {
    color: rgba(0, 0, 0, 0.791);
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.284);
    padding: 50px
}

#id_username,
#id_email,
#id_password1,
#id_password2 {
    border: 0;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.265);
    width: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
}

#id_username:focus,
#id_email:focus,
#id_password1:focus,
#id_password2:focus {
    outline:none;
}

#button-div {
    text-align: center;
    margin-top: 40px;
}

#register-button {
    width: 250px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.734);
    border: 0;
    color: white;
    font-size: 30px;
}

#register-button:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}


/* <input type="text" name="username" value="jasd" maxlength="150" autofocus required id="id_username">
<input type="email" name="email" value="jnasd@com.pl" maxlength="254" id="id_email">
<input type="password" name="password1" autocomplete="new-password" required id="id_password1">
<input type="password" name="password2" autocomplete="new-password" required id="id_password2"> */