#coin-list {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  align-items: center;
  table-layout: auto;
  width: auto;
  font-size: 85%;
  margin-top: 12.5%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

@media screen and (max-width: 1374px) {
  #coin-list {
    margin-top: 2rem;
  }
}


#coin-list th,
#coin-list td {
  padding: 15px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
}

#coin-list tr:first-child {
  position: sticky;
  z-index: 1;
  top: 18.9%;
  height: 70px;
}

#coin-list tr:first-child,
#coin-list th {
  font-weight: bold;
  color: #000;
}

#coin-list a {
  text-decoration: none;
  color: #000;
}

#coin-list tr {
  background-color: white;
}

#coin-list tr:last-child {
  border-bottom: none;
}

#coin-list tr:not(:first-child):hover {
  background-color: #eaeaea;
}

.green {
  color: green;
}

.red {
  color: red;
}


.coin-icon {
  height: 1rem;
  width: 1rem;
  padding-right: 1rem;
}
