#coin-list {
  width: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
}

#coin-list th,
#coin-list td {
  padding: 20px;
  text-align: left;
  font-size: 20px;
}

#coin-list th {
  font-weight: bold;
  color: #000;
}

#coin-list th:first-child {
  border-radius: 10px 0 0 10px;
}

#coin-list th:last-child {
  border-radius: 0 10px 10px 0;
}

#coin-list a {
  text-decoration: none;
  color: #000;
}

#coin-list tr {
  border-bottom: 1px solid #ccc;
}

#coin-list tr:last-child {
  border-bottom: none;
}

#coin-list tr:hover {
  background-color: #eaeaea;
}

.green {
  color: green;
}

.red {
  color: red;
}

.coin-icon {
  height: 1rem;
  width: 1rem;
  padding-right: 1rem;
}
