{% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'hub/coin_search.css' %}" />
{% endblock %}

<script type="text/javascript">
  Chart.defaults.font.size = 10;
  $(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["2023-10-01","2023-10-02","2023-10-04","2023-10-05", "2023-10-06","2023-10-07","2023-10-08","2023-10-09","2023-10-10"
        ,"2023-10-11","2023-10-12","2023-10-13","2023-10-14","2023-10-15","2023-10-16","2023-10-17","2023-10-18","2023-10-19","2023-10-20"
        ,"2023-10-21","2023-10-22","2023-10-23","2023-10-24","2023-10-25","2023-10-26","2023-10-27","2023-10-28","2023-10-29","2023-10-30"],
        datasets: [{
          label: '# of users',
          data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3, 2, 3, 4,5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 1],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)', 
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        maintainAspectRatio: false
      }
    });
  });
</script>

<div id="coin-search">
  <div id=search-input>
  <input class="scroll-link" href="#coin-search" id="type-a-coin" placeholder="Type a coin..." onkeyup:autoComplete()/>
  <div id="auto-complete-list">
    {% for coin in coins %}
    <a onclick=searchOutcome("{{ coin.symbol }}")><img src="{{ coin.image }}" alt="Image" class="coin-icon" /><b>{{coin.symbol | upper}} </b>({{ coin.name }})</a>
      {% endfor%}
  </div>
  </div>
  <br>
  <div id="search-details">
    <p id="coin-name-p"><img src="{% static 'hub/images/logo.png' %}" id="search-icon">Bitcoin (BTC)</p>
    <div id="search-container">
      <div id="value">
        <p id="value-p">$ 100000</p>
      </div>
      <div id="percentage">
        <p id="percentage-p">+1000%</p>
      </div>
    </div>
    <div id="chart-description-container">
      <div class="chart">
        <canvas id="myChart"></canvas>
      </div>
      <div id="description">
        <div id="description-line-one">
          <div id="suggested-range">
            <h4>Suggested ranges</h4>
            <br>
            <p class="ranges" id="description-min">Min: 100000</p>
            <p class="ranges" id="description-max">Max: Moon</p>
          </div>
            <div id="own-range">
            <h4>Your ranges</h4>
            <br>
            <p class="ranges" id="description-own-min">Min: 100000</p>
            <p class="ranges" id="description-own-max">Max: Moon</p>
          </div>
        </div>
        <div id="description-line-two">
          <div id="news">
            <a id="news-href" target="_blank" href=""><img src="{% static 'hub/images/news.png' %}"></a>
          </div>
          <div id="set-own-range">
            <h4>Set Your own ranges</h4>
            <br>
            <p>Min: <input></p>
            <p>Max: <input></p>
          </div>
        </div>
          <div id="outsource-links">
            <a id="binance-href" target="_blank" href="" class="button">Binance</a>
            <a id="coingecko-href" target="_blank" href="" class="button">CoinGecko</a>
            <a id="kucoin-href" target="_blank" href="" class="button">KuCoin</a>
            <a id="bitbay-href" target="_blank" href="" class="button">CoinBase</a>
          </div>
      </div>
    </div>
  </div>
</div>