{% extends "base.html" %}
{% load static %}

{% block title %}
Main Page
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'hub/styles.css' %}">
{% endblock %}


{% block content %}

{% include 'base_header.html' %}

<table id="coin-list">
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>24h</th>
        <th>Low 24h</th>
        <th>High 24h</th>
        <th>Market cap</th>
        <th>Min</th>
        <th>Max</th>
    </tr>
    {% for coin in coins %}
    <tr onclick="location.href='{% url 'coin-details' coin.symbol %} ';">
        <td><img src="{{ coin.image }}" alt="Image" class="coin-icon">{{ coin.symbol | upper }} {{ coin.name }}</td>
        {% if coin.current_price < 1 %}
        <td class="{% if coin.price_change_percentage_24h > 0 %}green{% else %}red{% endif %}">
            {{ coin.current_price | floatformat:6 }}</td>
        {% else %}
        <td class="{% if coin.price_change_percentage_24h > 0 %}green{% else %}red{% endif %}">
            {{ coin.current_price | floatformat:2 }}</td>
        {% endif %}
        <td>{{ coin.price_change_percentage_24h | floatformat:1 }}%</td>
        <td>{{ coin.low_24h | floatformat:2 }}</td>
        <td>{{ coin.high_24h | floatformat:2 }}</td>
        <td>{{ coin.market_cap | floatformat:2 }}</td>
        <td>{{ coin.ranges.min_range | floatformat:2 }}</td>
        <td>{{ coin.ranges.max_range | floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}