* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

h1 {
  font-size: 60px;
  text-align: left;
}

h2 {
  font-size: 26px;
  font-weight: normal;
}


#main-navigation {
  text-align: right;
  margin-top: 15px;
  margin-right: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

 a {
  color:rgb(3, 3, 3);
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

#main-navigation a:hover {
  color:rgb(133, 124, 124);
}

#main-information {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

#main-information h1 {
  margin-left: 10px;
  margin-top: 10px;
}

#logo-image {
  width: 30px;

}

#title {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-weight: 100px;
}

#main-services,
#main-logins {
  font-size: 17px;
  flex: 1;
}

#main-services {
  margin-left: 80px;
}

#main-services li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

#main-services li:hover,
#login:hover {
  border-bottom: 2px solid;
}

#main-logins {
  position: absolute;
  right: 6%;
}


#register {
  color: white;
  background-color: blue;
  padding: 15px;
  border-radius: 10px;
}

#register:hover {
  background-color: aqua;
}

#title-image-container {
  display: flex;
  padding-bottom: 150px;
  margin-left: 5%;
  margin-right: 5%;
}

#image {
  width: 60%;
}

#main-logo-image {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
