* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgb(244, 241, 241);
}

#main-navigation {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 0 0 50px 50px;
}

#main-navigation h1 {
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

.logo-image {
  height: 5rem;
  width: 5rem;
  padding-right: 1rem;
  border-radius: 100%;
}

#main-navigation a {
  text-decoration: none;
  color: black;
}
