/* app.css */
#main-navigation {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  color: black;
  border-radius: 50px;
}

#main-navigation h1{
color: #999900;
}

body {
  display: flex;
  align-items: flex-start;
  margin: 15rem 0;
  background-color: white;
  color: black;
  border: 2px solid;
  border-radius: 10px
}

#pinned-coins {
  margin-top: 1rem;
  width: 18%; /* Adjust the width as desired */
  padding: 0; /* Remove or adjust the padding */
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
}

#pinned-coins td {
padding-right: 10px;
}
