html {
  background-color: #e6e6e6;
}

#main-navigation {
  width: 90%;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  color: #262626;
  border-radius: 0 0 50px 50px;
}

#main-navigation h1 {
  border-bottom: 1px solid #ccc;
}

.logo-image {
  height: 5rem;
  width: 5rem;
  padding-right: 1rem;
  border-radius: 100%;
}

#main-navigation a {
  text-decoration: none;
  color: #262626;
}

#tables-container {
  margin-top: 9rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 450px;
  overflow: hidden;
  position: relative;
}

#range-ok tbody tr:nth-child(n+4) {
  display: none;
}

#range-wrong tbody tr:nth-child(n+4) {
  display: none;
}

#range-ok {
  width: 25%;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
}

#range-ok td {
  padding-right: 10px;
}

#range-wrong {
  width: 25%;
  padding-right: 0 5%;
  flex-direction: column;
  text-align: left;
  margin-left: 5rem;
  display: flex;
  margin-top: 1rem;
}

#range-wrong td {
  padding-right: 10px;
}

body {
  justify-content: center;
  align-items: start;
  color: black;
}
