#range-ok {
  font-size: 75%;
  background: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#range-ok,
#range-wrong {
  padding: 2px;
}

#range-ok tr:hover td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid #61faa4;
  background: #61faa4;
}

#range-wrong tr:hover td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid #f07f97;
  background: #f07f97;
}

#range-ok tr:hover td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid #61faa4;
  background: #61faa4;
}

#range-wrong tr:hover td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid #f07f97;
  background: #f07f97;
}


#range-wrong {
  font-size: 75%;
  background: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#range-wrong td {
  padding-right: 15px;
}

.hname {
  font-size: 150%;
}

#range-wrong th,
#range-ok th {
  border-bottom: 1px solid black;
}

.coins-ok:hover {
  background: #61faa4;
}

.coins-wrong:hover {
  background: #f07f97;
}


/* Media query for larger screens */
@media screen and (min-width: 1433px) {

  #ranges-container {
    position: sticky;
    top: 20%;
    margin-top: 3rem;
  }

  #range-ok,
  #range-wrong {
    padding: 10px;
    width: 245px;
    align-items: center;
    float: left;
  }

  #range-wrong {
    margin-left: 55.5rem;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 1433px) {

  #ranges-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
     }

  #range-ok,
  #range-wrong {
    width: 45%;
  }
}
