<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'hub/images/logo.png' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "hub/images/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "hub/images/apple-touch-icon-precomposed.png" %}">
    {% block js %}{% endblock %} {% block css_files %}{% endblock %}
  </head>
  <body>
    {% block header %}
      <div id="main-navigation">
        <div id="main-search">
          <input class="scroll-link" href="#coin-search" id="main-search-input" placeholder="Cut the crap & search...">
        </div>
        <div id="main-links">
        <a target="_blank" href="https://www.youtube.com/watch?v=b1k8RdF5u2g">About us</a>
        <a target="_blank" href="https://www.leagueoflegends.com/pl-pl/champions/nidalee/">Support</a>
        <a target="_blank" href="https://www.oswietleniemeblowe.pl/pl/p/Kontakt-gniazdo-elektryczne-meblowe-z-wylacznikiem-12V/1035">Credits</a>
        </div>
      </div>
      <div id="main-information">
        <a href="{% url 'starting-page' %}" id="title">
          <img
            src="{% static 'hub/images/logo.png' %}"
            alt="Logo"
            id="logo-image"
          />
          CoinSite
        </a>
      <div id="main-services">
        <ul>
          <a class="scroll-link" href="#coin-search">Lookup</a>
          <a class="scroll-link" href="#coin-list">Market</a>
        </ul>
      </div>
      <div id="main-logins">
        <a onclick=expandLogIn() id="login">Log in</a>
        <a href="{% url 'register-page' %}" id="register">Register</a>
        <div id="expand-login">
          <input id="user-input" class="user_pwd" placeholder="Username">
          <input id="user-pwd" class="user_pwd" placeholder="Password">
          <a id="login-button">Log in</a>
        </div>
      </div>
      </div>
    {% endblock %} {% block content %} {% endblock %}
    <script src="{% static 'hub/script.js' %}"></script>
  </body>
</html>
