{% load static %}

<div id="range-ok">
    <table>
        <thead>
        <tr>
            <th colspan="4">Zakresy w normie</th>
        </tr>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        {% for coin in coins %}
        {% if coin.current_price > coin.ranges.min_range and coin.current_price < coin.ranges.max_range %}
        <tr>
            <td>{{ coin.symbol|upper }}</td>
            <td>{{ coin.current_price | floatformat:2 }}</td>
            <td>{{ coin.ranges.min_range | floatformat:2 }}</td>
            <td>{{ coin.ranges.max_range | floatformat:2 }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
<div id="range-wrong">
    <table>
        <thead>
        <tr>
            <th colspan="4">Zakresy poza normą</th>
        </tr>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        </thead>
        {% for coin in coins %}
        {% if coin.ranges.max_range < coin.current_price or coin.current_price < coin.ranges.min_range %}
        <tr>
            <td>{{ coin.symbol|upper }}</td>
            <td>{{ coin.current_price | floatformat:2 }}</td>
            <td>{{ coin.ranges.min_range | floatformat:2 }}</td>
            <td>{{ coin.ranges.max_range | floatformat:2 }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>