<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    <link rel="apple-touch-icon" href="hub/images/logo.jpg" />
    {% block js %}{% endblock %} {% block css_files %}{% endblock %}
  </head>
  <body>
    {% block header %}
      <div id="main-navigation">
        <a href="https://www.youtube.com/watch?v=b1k8RdF5u2g">About us</a>
        <a href="https://www.leagueoflegends.com/pl-pl/champions/nidalee/">Support</a>
        <a href="https://www.oswietleniemeblowe.pl/pl/p/Kontakt-gniazdo-elektryczne-meblowe-z-wylacznikiem-12V/1035">Contact</a>
      </div>
        <div id="main-information">
          <a href="{% url 'starting-page' %}" id="title">
            <img
              src="{% static 'hub/images/logo.png' %}"
              alt="Logo"
              id="logo-image"
            />
            CoinSite
          </a>
        <div id="main-services">
          <ul>
            <a class="scroll-link" href="#coin-search">Lookup</a>
            <a class="scroll-link" href="#nchange">Rankings</a>
            <a class="scroll-link" href="">News</a>
            <a class="scroll-link" href="#coin-list">Market</a>
          </ul>
        </div>
        <div id="main-logins">
          <a href="" id="login">Log in</a>
          <a href="" id="register">Register</a>
        </div>
      </div>
      <div id="title-image-container">
        <div id="title">
          <h1>Crypto market</h1>
          <h1>currencies HUB</h1>
          <br>
          <h2>Check on current coin prices</h2>
          <h2>Use easy tools to mantain Your wallet.</h2>
        </div>
        <div id="image">
          <img
          src="{% static 'hub/images/logo.png' %}"
          alt="main-logo"
          id="main-logo-image">
        </div>
      </div>
    {% endblock %} {% block content %} {% endblock %}
    <script src="{% static 'hub/script.js' %}"></script>
  </body>
</html>
