<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'hub/images/logo.png' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "hub/images/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "hub/images/apple-touch-icon-precomposed.png" %}">
    {% block js %}{% endblock %} {% block css_files %}{% endblock %}
  </head>
  <main>
    {% block header %}
      <div id="main-navigation">
        <div id="main-search">
          <input class="scroll-link" href="#coin-search" id="main-search-input" placeholder="Cut the crap & search...">
        </div>
        <div id="main-links">
        <a target="_blank" href="https://www.youtube.com/watch?v=b1k8RdF5u2g">About us</a>
        <a target="_blank" href="https://www.leagueoflegends.com/pl-pl/champions/nidalee/">Support</a>
        <a target="_blank" href="https://www.oswietleniemeblowe.pl/pl/p/Kontakt-gniazdo-elektryczne-meblowe-z-wylacznikiem-12V/1035">Credits</a>
        </div>
      </div>
      <div id="main-information">
        <a href="{% url 'starting-page' %}" id="title">
          <img
            src="{% static 'hub/images/logo.png' %}"
            alt="Logo"
            id="logo-image"
          />
          CoinSite
        </a>
      <div id="main-services">
        <ul>
          <a class="scroll-link" href="#coin-search">Lookup</a>
          <a class="scroll-link" href="#coin-list">Market</a>
        </ul>
      </div>
      <div id="main-logins">
        {% if user.username != "" %}
        <div id='user-info'>
          {% if user.first_name != ""%}
          <a href="{% url 'my-account' user %}" id="username_widget"> {{ user.first_name|title }} {{ user.last_name|title }} <a>
          {% else %}
          <a href="{% url 'my-account' user %}" id="username_widget"> {{ user.username }}
          {% endif %}
          <a id="register" href="{% url 'logout-button' %}">Log out</a>
        </div>
        {% else %}
        <a onclick=expandLogIn() id="login">Log in</a>
        <a href="{% url 'register-page' %}" id="register">Register</a>
        <div id="expand-login">
          <form id="sign-in-form" method="POST" action="{% url 'starting-page' %}">
            {% csrf_token %}
            {{ form.username }}
            <br>
            {{ form.password }}
            <br>
            <button type="submit" id="login-button">Log in</button>
          </form>
        </div>
        {% endif %}
      </div>
      {% if form.errors %}
      <div id="form-errors">
      {{ form.non_field_errors }}
      </div>
      {% endif %}
      </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    </main>
    <script src="{% static 'hub/script.js' %}"></script>
    
</html>
